* {
    margin: 0;
    padding: 0;
}

.row {
    display: flex;
    width: 50vw;
}

.row div {
    flex: 1;
    width: 10vw;
    height: 20vh;
    background-color: antiquewhite;
    font-size: 3rem;
    text-align: center;
    border: 1px solid black;
}

#zero {
    flex: 3;
}

